@import "partials/reset";
@import "modules/colors";
@import "modules/fonts";

h1 {
  font-size: 40px;
}

h3 {
  font-weight: bolder;
  font-size: 30px;
}

header {
  text-align: center;
}

p {
  line-height: 100%;
  padding: 5px;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
  &:visited {
    color: $third-color;
    &:hover {
      color: $secondary-color;
    }
  }
}

strong {
  font-weight: bold;
}

footer {
  text-align: center;
  a {
    margin-right: 10px;
    margin-left: 10px;
  }
}

nav {
  margin-top: 20px;
  li {
    margin-bottom: 20px;
  }
}

button {
  margin-top: 10px;
  font-size: 15px;
  border-radius: 5px;
  background-color: $primary-color;
  border: none;
  color: white;
  padding: 5px;

  &:hover {
    cursor: pointer;
    background-color: $secondary-color;
  }
}

.page-wrapper {
  margin-right: 20px;
  margin-left: 20px;
  font-family: $font-stack;
}

.main {
  display: inline-block;
  width: 79%;
}

.sidebar {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}

.post {
  margin-top: 10px;
  margin-bottom: 10px;
}
.post-title {
  font-size: 20px;
}

.pull-right {
  float:right;
}
