<header role="banner">
  <h1>Read It?</h1>
</header>

<div class="main">
  <h3>New Posts</h3>
  <button type="button">New Post</button>
  <div ng-repeat="post in posts | limitTo: 10" class="post">
    <strong class="post-title"><a href="/#/post/{{ post._id }}">{{ post.title }}</a></strong>
    - {{ post.created | date:'medium'}}
    <span class="pull-right">{{ post.group }}</span>
    <p>submitted by <a href="/#/user/{{post.owner }}">{{ post.owner }}</a></p>
  </div>
</div>

<aside class="sidebar">
  <button type="button">Login</button>
  <hr>
  <h3>Groups</h3>
  <nav role="navigation">
    <ul>
      <li ng-repeat="group in groups"><a href="/#/group/{{ group._id }}">{{ group.title }}</a></li>
    </ul>
  </nav>
</aside>
